doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div.school-title Cool High

      div.nav-content
        ul

          if !user
            li
              a(href="/register-student") Register New Students
            li
              a(href="/register-staff") Register Staff
            li
              a(href="/login") Login
          else
            each menuItem in user.getMenuItems()
              li
                a(href=menuItem.link) #{menuItem.label}

            li
              a(href="#") Hello #{user.displayName}
            li
              a(href="/logout") Logout

      div

    div.container
      block content
