extends ../layout

block content
  div.content-container
    div
      a.button(href="/courses/add") Add Course
    table
        thead
          tr
            th Course Title
            th Department
            th Instructor
            th
        tbody
          each course in courses
            tr
              td=student.name
              td=student.department
              td=student.instructor_name
              td
                a(href=`/courses/profile/${student.id}`) View Course
